.list-group-item {
  color: black; // Establece el color del texto en negro
}

.table-container {
  margin-left: 30px;
  margin-right: 30px;

  table {
    &.table-fixed {
      table-layout: fixed;
      width: 100%;

      colgroup col {
        width: 20%; /* Cambia este valor según tus necesidades */
      }

      th {
        background-color: #2F4F4F;
        color: white;
      }

      td {
        background-color: #ffffff;
      }
    }
  }
}

.btn-group {
  margin-left: 30px;
}

.delete-button {
  margin-right: 15px;
}